<div class="container">
    <h1>Welcome to my CreditWorks Test app</h1>
    <h3>With this app you will be able to manipulate 3 main features</h3>
    <ul>
        <li>Vehicles</li>
        <li>(Vehicle) Manufacturers</li>
        <li>(Weight) Categories</li>
    </ul>

    <br>

    <h4>You will have the ability to get, add, edit and delete any entries from these sections</h4>

    <br>

    <h4>Along with that you can also sort any of lists (ascending or descending order) 
        by clicking on the column heading</h4>
</div>